:root {
    --main-color: #3A5950;
    --secondary-color: #E6E6E6;
    --tertiary-color: #D9D9D9;
}

@keyframes expand {
    0% {
      transform: scale(0.1);
    }
    100% {
      transform: scale(1);
    }
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Courier New", Courier, monospace;
    background-color: var(--secondary-color);
}

#front-page {
    display: flex;
    justify-content: center;
    margin: 1%;
    margin-top: 3%;
    width: 90%;
    animation: fadeIn 4s;
}

@media screen and (max-width:600px) {
    #front-page {
        justify-content: none;
        flex-direction: column;
        width: 100%;
    }
}

@media (min-width:601px) and (orientation: portrait) {
    #front-page {
        justify-content: none;
        flex-direction: column;
        width: 100%;
    }
}

#front-page p {
    margin-left: 8%;
    margin-top: 5%;
    width: 40%;
    height: auto;
    font-size: 3vw;
}

#portrait {
    width: 25%;
    height: auto;
    margin: 1%;
    margin-top: 5%;
    overflow: hidden;
    border-radius: 50% 50% 0 0;
}

@media screen and (max-width:600px) {
    #portrait {
        width: 100%;
        margin: 1%;
    }
    #front-page p {
        width: 100%;
        font-size: 8vw;
        margin: 1%;
    }
}

@media (min-width:601px) and (orientation: portrait) {
    #portrait {
        width: 100%;
        margin: 1%;
    }
    #front-page p {
        width: 100%;
        font-size: 8vw;
        margin: 1%;
    }
}

footer {
    display: flex;
    justify-content: space-evenly;
    margin: .5%;
}

@media screen and (max-width:600px) {
    footer {
        margin: 4%;
    }
}

@media (min-width:601px) and (orientation: portrait) {
    footer {
        margin: 4%;
    }
}

footer a {
    width: 10vw;
    text-align: center;
}

footer img{
    width: 20%;
    height: 90%;
}

@media screen and (max-width:600px) {
    footer img {
        width: 40%;
        height: 90%;
    }
}

@media (min-width:601px) and (orientation: portrait) {
    footer img {
        width: 40%;
        height: 90%;
    }
}

.container {
    padding: 1%;
    width: 90%;
    margin: 1%;
    margin-left: auto;
    margin-right: auto;
}

.slider-wrapper {
    position: relative;
}

.slider {
    display: flex;
    /* aspect-ratio: 16 / 9; */
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    border-radius: 1rem;
    background-color: #3A5950;
    height: 89vh;
}

.slider div {
    display: flex;
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info img, .info video {
    /* display: block; */
    height: 100%;
    width: auto;
}

.info p {
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 2vw;
    color: var(--tertiary-color);
    padding: 5%;
    opacity: .85;
}

.slider-nav {
    display: flex;
    column-gap: 2rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border-style: solid;
    border-color: var(--main-color);
    border-width: 3px;
    background-color: var(--secondary-color);
    opacity: .75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover {
    opacity: 1;
}

.slider::-webkit-scrollbar {
    display: none;
}

.slider {
    -ms-overflow-style: none;  /* IE and Edge */
  }

@media screen and (max-width:600px) {
    .info img {
        height: 100%;
        width: auto;
    }

    .info p {
        font-size: 4vw;
    }

    .slider {
        height: 90vh;
    }
}

@media (min-width:601px) and (orientation: portrait) {
    .info img {
        height: 100%;
        width: auto;
    }

    .info p {
        font-size: 4vw;
    }

    .slider {
        height: 90vh;
    }
}

h1 {
    text-align: center;
    font-size: 4vw;
    color: #3A5950;
    margin: 1%;
    margin-top: 5%;
    text-decoration: none;
}

h1 a, h1 a:visited {
    color: var(--main-color);
}

/* .gaming {
    padding: 1%;
    width:  90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 1%;
    display: flex;
    background-color: #495F48;
    border-radius: 1rem;
}

.gaming img {
    border-radius: 1rem;
    width: 50%;
    height: 50%;
}

.gaming p {
    color: var(--tertiary-color);
    opacity: .85;
    font-size: 2rem;
    margin-left: 2%;
} */

@media screen and (max-width:600px) {
    .gaming {
        flex-direction: column;
    }

    .gaming img {
        border-radius: 1rem;
        width: 100%;
        height: auto;
        margin: 1%;
    }

    .gaming p {
        color: var(--tertiary-color);
        opacity: .85;
        font-size: 1.5em;
        margin: 1%;
    }

    h1 {
        font-size: 10vw;
    }
}

@media (min-width:601px) and (orientation: portrait) {
    .gaming {
        flex-direction: column;
    }

    .gaming img {
        border-radius: 1rem;
        width: 100%;
        height: auto;
        margin: 1%;
    }

    .gaming p {
        color: var(--tertiary-color);
        opacity: .85;
        font-size: 1.5em;
        margin: 1%;
    }

    h1 {
        font-size: 10vw;
    }
}

#interests-3{
    max-width: 95%;
}